@using VotingAdmin.Web.Models.Pagination

<form id="paginationHeaderForm" class="row justify-content-between my-2 mx-0">
    <div class="col-sm-12 col-md-6 row align-items-center m-0">
        @await Component.InvokeAsync("PageSizer", new PageSizeDdl(new int[] { 10, 20, 30, 50, 100 }, Model.PageSize, "", ""))
    </div>
    <div class="col-sm-12 col-md-6 row justify-content-sm-start justify-content-md-end mt-sm-2 mt-md-0">
        <div class="col-auto">
            <label for="Search" class="col-form-label">Search</label>
        </div>
        <div class="col-auto">
            <input id="btnPaginationSearch" class="form-control" type="text" name="SearchVal" value="">
        </div>
    </div>
</form>
