@using VotingAdmin.Web.Models.Merchants;
@model MerchantAdd
<form id="FormAddMerchant">
    <ul>
        @if (ViewBag.Error is not null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <li class="text-danger">@error</li>
            }
        }
    </ul>
    <input asp-for="GenderId" value="1" hidden/>
    <div class="row">
        <div class="col-sm-6 mb-3">
            <label asp-for="UserName">Username</label>
            <input asp-for="UserName" type="text" class="form-control">
            <span asp-validation-for="UserName" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="FullName">Event Name</label>
            <input asp-for="FullName" type="text" class="form-control">
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="OrganizationName">Organization Name</label>
            <input asp-for="OrganizationName" type="text" class="form-control">
            <span asp-validation-for="OrganizationName" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="Email">Email</label>
            <input asp-for="Email" type="email" class="form-control">
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="Mobile">Mobile</label>
            <input asp-for="Mobile" type="text" maxlength="10" onkeypress="return isPhoneNumber(event)" class="form-control">
            <span asp-validation-for="Mobile" class="text-danger"></span>
        </div>

        <div class="col-sm-6 mb-3">
            <label asp-for="ProfileImage">Profile Image</label>
            <input asp-for="ProfileImage" type="file" accept=".png, .jpg, .jpeg" onchange="onimagechange(this,'ProfileImagechange')" class="form-control">
            <img id="ProfileImagechange" src="" height="125" width="125" hidden>
            <span asp-validation-for="ProfileImage" class="text-danger"></span>
        </div>

        @*        <div class="col-sm-6 mb-3">
        <label asp-for="GenderId">Gender</label>
        <input asp-for="GenderId" type="email" class="form-control">
        <span asp-validation-for="GenderId" class="text-danger"></span>
        </div>*@
        @*<div class="col-sm-6 mb-3">
            <label for="GenderId">Gender <span style="color:firebrick">*</span></label>
            <br>
            @foreach (var gender in ViewBag.Gender)
            {
                <label>
                    @Html.RadioButton("GenderId", gender.Value, gender.Value == "1", new { id = gender.Value }) @gender.Text
                </label>
            }
            <br>
            <span asp-validation-for="GenderId" class="text-danger"></span>
        </div>*@
       @* <div class="col-sm-6 mb-3">
            <label asp-for="Department">Department</label>
            <input asp-for="Department" type="text" class="form-control">
            <span asp-validation-for="Department" class="text-danger"></span>
        </div>*@

        @*<div class="col-sm-6 mb-3">
            <label asp-for="DateOfBirth">Date Of Birth</label>
            <input asp-for="DateOfBirth" type="date" class="form-control">
            <span asp-validation-for="DateOfBirth" class="text-danger"></span>
        </div>*@
        <div class="col-sm-6 mb-3">
            <label asp-for="DateOfJoining">Date Of Joining</label>
            <input asp-for="DateOfJoining" type="date" class="form-control">
            <span asp-validation-for="DateOfJoining" class="text-danger"></span>
        </div>
       
        <div class="col-sm-6 mb-3">
            <label asp-for="Password">Password</label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="ConfirmPassword">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
        </div>
      @*  <div class="col-sm-6 mb-3">
            <label asp-for="AccessCode">Access Code</label>
            <input asp-for="AccessCode" type="text" class="form-control">
            <span asp-validation-for="AccessCode" class="text-danger"></span>
        </div>*@
        <div class="col-sm-6 mb-3">
            <label asp-for="PANNumber">PAN Number</label>
            <input asp-for="PANNumber" type="text" class="form-control">
            <span asp-validation-for="PANNumber" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="RegistrationNumber">Registration Number</label>
            <input asp-for="RegistrationNumber" type="text" class="form-control">
            <span asp-validation-for="RegistrationNumber" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label asp-for="DirectorName">Contact Name</label>
            <input asp-for="DirectorName" type="text" class="form-control">
            <span asp-validation-for="DirectorName" class="text-danger"></span>
        </div>
        <div class="col-sm-6 mb-3">
            <label for="PANDocument">PAN Document</label>
            <input asp-for="PANDocument" type="file" accept=".png, .jpg, .jpeg" onchange="onimagechange(this,'PANDocumentchange')" class="form-control">
            <img id="PANDocumentchange" src="" height="125" width="125" hidden>
            <span asp-validation-for="PANDocument"  class="text-danger"></span>
        </div>
       
        <div class="col-sm-6 mb-3">
            <label>Status</label>
            <div class="form-group">
                <div class="checkbox checkbox-danger d-inline">
                    <input asp-for="IsActive" checked="false">
                    <label asp-for="IsActive" class="cr">Is Active</label>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary px-4">Add</button>
    </div>
</form>
<script type='text/javascript' src="~/js/ValidationScript.js"></script>

<script>
    function onimagechange(data, id) {

        readURL(data, id);

    }
    function readURL(input, id) {

        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {

                var data = e.target.result;

                $('#' + id).attr('src', e.target.result);

            }
            reader.readAsDataURL(input.files[0]);
        }
    };
</script>


<script>

    FormHandler.init({
        
        method: 'POST',
        actionUrl: '@Url.Action("AddMerchant","Merchants")',
        containerSelector: '#add-new .modal-body',
        selector: '#FormAddMerchant'
        
    }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
        $("#add-new").modal('hide');

        //new PNotify({
        //    // title: 'Success ',
        //    text: 'Rates Created Successfully',
        //    type: 'success',
        //    animation: {
        //        effect_in: 'fade',
        //        effect_out: 'slide'
        //    }

        //});

        Pagination.getData();
    });
</script>