@using VotingAdmin.Web.Dtos.Roles;

@model RoleDto
@*<form asp-controller="Roles" asp-action="Update" id="form" method="post"
      onsubmit="if(validate())return PopUPAjaxPost2(this);" autocomplete="off">*@
<form id="formupdateRoles" method="post" autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <li class="text-danger">@error</li>
            }
        }
    </ul>
    <div class="row">
        <div class="col-sm-12 mb-3">
            <input asp-for="isActive" type="hidden" />
            <input asp-for="id" type="hidden" />
            <label for="exampleInputEmail1">Role Name</label>
            <input asp-for="roleName" type="text" class="form-control" id="exampleInputEmail1" placeholder="Admin">
            <span asp-validation-for="roleName" class="text-danger"></span>
        </div>
        <div class="col-sm-12 mb-3">
            <label for="exampleInputEmail1">Access</label>
            <input asp-for="description" type="text" class="form-control" id="Discription">
        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
<partial name="_ValidationScriptsPartial" />
<script>

      FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("Update", "Roles")',
        containerSelector: '#add-new .modal-body',
          selector: '#formupdateRoles'
      }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
          $("#add-new").modal('hide');
          //new PNotify({
          //    // title: 'Success ',
          //    text: 'Rates Created Successfully',
          //    type: 'success',
          //    animation: {
          //        effect_in: 'fade',
          //        effect_out: 'slide'
          //    }

          //});
        Pagination.getData();
    });
</script>