<div class="card-block">
    <form id="usersFilterForm" class="row">
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <input type="text" class="form-control" name="UserName" placeholder="Username">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <input type="text" name="FullName" class="form-control" placeholder="Name">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <input type="text" name="Mobile" class="form-control" placeholder="Contact No.">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <div class="form-group">
                <input type="email" name="Email" class="form-control" placeholder="Email">
            </div>
        </div>
        <div class="col-sm-6 col-md-4 col-lg-3">
            <button id="btnUserFilter" class="btn btn-md btn-primary form-control quick-btn">Filter</button>
        </div>
    </form>
</div>