
@using VotingAdmin.Web.Models.Users;
@model ChangePassword
<form id="formChangepassword" method="post" autocomplete="off">
    @if (ViewBag.error is not null)
    {
        <ul>
            @foreach (var error in ViewBag.error)
            {
                <li class="text-danger">@error</li>
            }
        </ul>
    }

    <div class="row">
        <div class="col-sm-12 mb-3">
            <label for="exampleInputEmail1">Current Password</label>
            <input asp-for="CurrentPassword" type="password" class="form-control" placeholder="Password">
            <span asp-validation-for="CurrentPassword" class="text-danger"></span>

        </div>
        <div class="col-sm-12 mb-3">
            <label for="exampleInputEmail1">New Password</label>
            <input asp-for="NewPassword" type="password" class="form-control" placeholder="New Password">
            <span asp-validation-for="NewPassword" class="text-danger"></span>

        </div>
        <div class="col-sm-12 mb-3">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input asp-for="ConfirmPassword" type="password" class="form-control" placeholder="Confirm Password">
            <span asp-validation-for="ConfirmPassword" class="text-danger"></span>

        </div>
       

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>

<script>

      FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("ChangePassword", "Users")',
        containerSelector: '#add-new .modal-body',
          selector: '#formChangepassword'
      }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
          $("#add-new").modal('hide');
          //    new PNotify({
          //    // title: 'Success ',
          //    text:'Password Changes Successfully',
          //    type: 'success',
          //    animation: {
          //        effect_in: 'fade',
          //        effect_out: 'slide'
          //    }

          //});
        Pagination.getData();
    });
</script>