@using VotingAdmin.Web.Dtos.ResetPassword
@model ResetPasswordDto
<form id="formresetpassword" method="post"  autocomplete="off">
    <ul>
        @if (ViewBag.Error is not null)
        {
            @foreach (var error in ViewBag.Error)
            {
                <li class="text-danger">@error</li>
            }
        }
    </ul>
    <div class="row">
        <input type="hidden" asp-for="userId" />
        <div class="col-sm-12 mb-3">
            <label for="exampleInputEmail1">Password </label>
            <input asp-for="newPassword" id="password-field" type="password" class="form-control">
            <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <span class="text-danger" asp-validation-for="newPassword"></span>
        </div>
        <div class="col-sm-12 mb-3">
            <label for="exampleInputEmail1">Confirm Password </label>
            <input asp-for="confirmPassword" id="password-field2" type="password" class="form-control">
            <span toggle="#password-field2" class="fa fa-fw fa-eye field-icon toggle-password"></span>
            <span class="text-danger" asp-validation-for="confirmPassword"></span>

        </div>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-light" data-dismiss="modal">Cancel</button>
        <button type="submit" class="btn btn-sm btn-primary">Update</button>
    </div>
</form>
<style>
    .field-icon {
        float: right;
        margin-left: -25px;
        margin-top: -25px;
        position: relative;
        z-index: 2;
    }

    .container {
        padding-top: 50px;
        margin: auto;
    }
</style>

<script>
    $(".toggle-password").click(function () {

        $(this).toggleClass("fa-eye fa-eye-slash");
        var input = $($(this).attr("toggle"));
        if (input.attr("type") == "password") {
            input.attr("type", "text");
        } else {
            input.attr("type", "password");
        }
    });
</script>
<script>

      FormHandler.init({
        method: 'POST',
        actionUrl: '@Url.Action("ResetPassword", "Users")',
        containerSelector: '#add-new .modal-body',
          selector: '#formresetpassword'
      }, function () {
        $("#add-new .modal-body").html("");
        $("#add-new .modal-title").html("");
          $("#add-new").modal('hide');
          //    new PNotify({
          //    // title: 'Success ',
          //    text:'Password Reset Successfully',
          //    type: 'success',
          //    animation: {
          //        effect_in: 'fade',
          //        effect_out: 'slide'
          //    }

          //});
        Pagination.getData();
    });
</script>